@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!-- <h1 class="display-4">Welcome</h1> -->
    <a href="./Entries/Create"><i class="fas fa-beer fa-6x" style="color:#01793c"></i>
    <p class="text-dark">ADD BEER</p>
    </a>
    <br/>
    <a href="./ScoreCards/Create"><i class="fas fa-vote-yea fa-6x" style="color:#01793c"></i>
    <p class="text-dark">RATE BEER</p>
    </a>
    <br/>
    <a href="https://app.powerbi.com/groups/me/dashboards/1fa1c24b-9ba2-46d9-be01-2df36f0131a1" target="_blank"><i class="fas fa-chart-bar fa-6x" style="color:#01793c"></i>
    <p class="text-dark" style="color:#004234">RESULTS</p>
    </a>
</div>
